.left{
  padding: 0%;
  margin: 0%;
  float: left;
}

#block{
  width: 100%;
  height: 30%;
  background: linear-gradient(105deg,#768,#567);
  border-radius: 10%;
  text-align: center;
}

#block p{
  padding: 10%;
  color: #fff;
  padding: 0px 22px;
  padding-top: 40px;
}

#whole-block{
  width: 100%;
  background-color: #768;
}

#non-visible{
  visibility: hidden;
}
#leftbank{
  width: 100%;
  background-color: aqua;
}
.right{
  float: right;
}
.table{
  background-image:url("../../assets/images/99ab8192-18d8-41da-8c1f-19d4859dd912.webp") ;
}