@media only screen and (max-width: 600px) {
   .app .left{
    width: 100%;
    padding: 0px;
    margin: 0px;
   }
   .app .left .for{
    width: 100%;
    margin: 0px;
    padding: 0px;
   }
   .button{
    width: 100px;
    padding:0px;
    margin: 0px;
   }
   .left{
    float: none;
   }
  }